<!DOCTYPE html>
<html ng-app='app'>
<head>
	<title>Users</title>
	<script src='bower_components/angular/angular.js'></script>
	<script type="text/javascript">
		var myApp = angular.module('app', []);

		myApp.factory('productFactory', function(){

			var products = [
			{name:'Keyboard', price: 149.99, qty: 50},
			{name:'Mouse', price: 59.99, qty: 50},
			{name:'Basketball', price: 21.99, qty: 50}]

			var factory = {}

			factory.getProducts = function (callback){
				callback(products)
			}
			factory.addProduct = function(data){
				products.push(data);
				console.log(data);
			}
			factory.deleteProduct = function(data){
				var index = products.indexOf(data);
				products.splice(index, 1);
			}
			factory.buyProduct = function(data){
				var index = products.indexOf(data);
				if (products[index].qty > 0){
					products[index].qty -= 1
				}
			}
			return factory;
		})

		myApp.controller('productController', ['$scope', 'productFactory', function($scope, productFactory){
			$scope.products = [];

			productFactory.getProducts(function(data){
				$scope.products = data;
			})
			$scope.addProduct = function(){
				productFactory.addProduct($scope.newProduct)
				$scope.newProduct = {};
			}
			$scope.deleteProduct = function(product){
				productFactory.deleteProduct(product)
			}
		}])

		myApp.controller('ordersController', ['$scope', 'productFactory', function($scope, productFactory){
			$scope.products = [];

			productFactory.getProducts(function(data){
				$scope.products = data;
			})

			$scope.buyProduct = function(product){
				productFactory.buyProduct(product)
			}

		}])
	</script>
	<style type="text/css"> table, th, td { border: 1px solid black; text-align: center; padding: 3px; margin-top: 15px;}</style>
</head>
<body>
	<div ng-controller='productController'>
		<form>
			<h1>Users Controller</h1>
			<p>Product Name: <input type="text" ng-model='newProduct.name'></p>
			<p>Price: <input type="number" ng-model='newProduct.price'></p>
			<input type="hidden" ng-model='newProduct.qty' ng-init='newProduct.qty = "50"'>			
			<input type="submit" value="Create Product" ng-click='addProduct()'>
		</form>
		<table>
			<tr>
				<th>Product Name</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat= 'product in products'>
				<td>{{product.name}}</td>
				<td>{{product.price | currency }}</td>
				<td><input type="submit" value="Delete Product" ng-click="deleteProduct(product)"></td>
			</tr>
		</table>
	</div>
	<div ng-controller='ordersController'>
		<table>
			<tr>
				<th>Product Name</th>
				<th>Price</th>
				<th>Qty Available</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat= 'product in products'>
				<td>{{product.name}}</td>
				<td>{{product.price | currency }}</td>
				<td>{{product.qty}}</td>
				<td><input type="submit" value="Buy" ng-click="buyProduct(product)"></td>
			</tr>
		</table>
	</div>
</body>
</html>