/* * {
    border: 1px solid red;
} */

.cent {
    margin-top: 25px;
}

.cont {
    border-bottom: 1px solid rgba(40, 40, 40, 0.44);
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 15px;
    padding-left: 0px;
}

.modal-header {
    background-color: #446e9b;
}

.modal-title {
    color: white;
}

.panel {
    min-height: 338px;
}
