<!DOCTYPE html>
<html>
<head>
	<title>Players</title>
	<style type="text/css"> table, th, td { border: 1px solid black; text-align: center; padding: 3px; margin-top: 15px;}</style>
</head>
<body>
	<div ng-controller='TeamsController'>
		<form>
			<h1>Teams:</h1>
			<p>Name <input type="text" ng-model='newTeam.name'></p>		
			<input type="submit" value="Add New Team" ng-click='addTeam()'>
		</form>
		<table>
			<tr>
				<th>Team Name</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat= 'team in teams'>
				<td>{{team.name}}</td>
				<td><input type="submit" value="Remove Team" ng-click="deleteTeam(team)"></td>
			</tr>
		</table>
	</div>
</body>
</html>