<!DOCTYPE html>
<html>
<head>
	<title>Regestration Form</title>
</head>
<body>
	<div style="margin-left: 100px; margin-top: 100px; width: 400px" class="main">
		<form action='/inf' method='post'>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			Email: <input style="margin-top: 10px" type="text" name="email"><br>
			First Name: 
			<input style="margin-top: 10px" class="one" type="text" name="fname"><br>
			Last Name: 
			<input style="margin-top: 10px" class="one" type="text" name="lname"><br>
			Password: 
			<input style="margin-top: 10px" class="one" type="password" name="pass"><br>
			Confirm Password: 
			<input style="margin-top: 10px" class="one" type="password" name="conpass"><br>
			<input style="margin-top: 10px" class="one" type="submit" name="submit">
		</form>
	</div>
</body>
</html>