* {
	/*outline: 1px dashed blue;*/
}

.cont {
	width: 1200px;
	margin: 0 auto;
	margin-top: 30px;
}

.one {
	width: 280px;
	display: inline-block;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
	margin-left: 8px;
	border: 4px solid black;
	padding-bottom: 8px;
}

.act {
	width: 1100px;
	height: 300px;
	border: 4px solid black;
	overflow: scroll;
	padding-left: 20px;
}

#text {
	margin-top: 5px;
	margin-bottom: 5px;
}