<html>
<head>
	<title>Quote Dojo Redux</title>
</head>
<body>
    <h1>Welcome to Quoting-Dojo</h1>
    	<form method="post" action="/create">
            <p>Your Name: <input type="text" name="name"></p>
            <p>Your Quote: <input type="text" name="quote"></p>
            <p><input type="submit" value="Add my quote!"></p>            
    	</form>
        <form action="/quotes">
            <p><input type="submit" value="Skip to Quotes!"></p>            
        </form>
</body>
</html>