<div class="outline">
	<h1>Chicago IL</h1>
	<div>
		<div class="left">
			<p><strong>Humidity:</strong> {{info.main.humidity}} </p>
			<p><strong>Temperature (Avg):</strong> {{info.main.temp}} F</p>
			<p><strong>Temperature (High):</strong> {{info.main.temp_max}} F</p>
			<p><strong>Temperature (Low):</strong> {{info.main.temp_min}} F</p>
			<p><strong>Status:</strong> {{info.weather[0].description}}</p>
		</div>
		<div class="right">
			<img class="photo" src="https://images.pexels.com/photos/167200/pexels-photo-167200.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb">
		</div>
	</div>
</div>

