<h1>{{title}}</h1>

<h3 *ngIf="error" style="color:red;">{{error}}</h3>

<div>
  <form (submit)="getTasks()">
    <div>
      <p style="display: inline-block; margin: 0;">Github Username: <input type="text" required name="username" [(ngModel)]="username.name" #name="ngModel"></p>
      <div style="color: red; display: inline-block; vertical-align: top;" *ngIf="name.errors">*Username Required</div>
    </div>
    <input *ngIf="name.valid; else dis" style="margin-top: 30px; width: 250px; height: 40px;" type="submit" value="Calculate My GitHub Score">
    <ng-template #dis><input style="margin-top: 30px; width: 250px; height: 40px; background-color: silver;" type="submit" value="Calculate My GitHub Score"
        disabled></ng-template>
  </form>
  <h2>Your Score: {{score}}</h2>
</div>
