<html>
<head>
	
</head>
<body>
    <div style="border: 2px solid black; padding: 20px; display: inline-block;">
    	<form action="/result" method="post">
    		<p>Your Name: <input type="text" name="name"></p>
    		<p>Dojo Location: 
    		<select name="location">
    			<option>DC</option>
    			<option>Seattle</option>
    			<option>NYC</option>
    		</select></p>
    		<p>Favorite Language: 
    		<select name="language">
    			<option>JS</option>
    			<option>HTML</option>
    			<option>CSS</option>
    		</select></p>
    		<p>Comment (optional): <textarea name="comment"></textarea></p>
    		<input type="submit" name="submit">
    	</form>
    </div>
</body>
</html>