<html>
<head>
	
</head>
<body>
    <div style="border: 2px solid black; padding: 20px; display: inline-block;">
    	<h1>Submitted Information:</h1>
        <p>Name: <%= info.name %></p>
        <p>Dojo Location: <%= info.location %></p>
        <p>Favorite Language: <%= info.language %></p>
        <p>Comment: <%= info.comment %></p>
        <form action="/">
            <input type="submit" name="submit" value="Go Back">
        </form>
    </div>
</body>
</html>