<html>
<head>
	<title>Owl Fun</title>
</head>
<body>
    <h1>Create new Owl:</h1>
        <form method="post" action="/owl">
            <p>Owl Name: <input type="text" name="name"></p>
            <p>Age: <input type="text" name="age"></p>
            <p>Speed: <input type="text" name="speed"></p>
            <p><input type="submit" value="Add my Owl"></p>            
    	</form>
</body>
</html>