<div class="outline">
	<h1>Burbank CA</h1>
	<div>
		<div class="left">
			<p><strong>Humidity:</strong> {{info.main.humidity}} </p>
			<p><strong>Temperature (Avg):</strong> {{info.main.temp}} F</p>
			<p><strong>Temperature (High):</strong> {{info.main.temp_max}} F</p>
			<p><strong>Temperature (Low):</strong> {{info.main.temp_min}} F</p>
			<p><strong>Status:</strong> {{info.weather[0].description}}</p>
		</div>
		<div class="right">
			<img class="photo" src="http://a.abcnews.com/images/Travel/CB_burbank_california_jef_130701_16x9_992.jpg">
		</div>
	</div>
</div>

